[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
pywin32 = "*"
pyautogui = "*"
numpy = "*"
requests = "*"
pytesseract = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.11"
